@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');
@media screen and (max-width: 767px) {
	html {
		font-size: 20px;
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

* {
	box-sizing: border-box !important;
	/*box-shadow: inset -1px -1px 0 rgba(255,0,0,0.3), inset 1px 1px 0 rgba(255,0,0,0.3);*/
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

table, tr {
	width: 100%;
	padding: 0;
	margin: 0;
}

td {
	margin: 0;
	padding: 0.5rem;
	vertical-align: middle;
}

.wrapper_priority {
	width: 30px;
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
}

.wrapper_button {
	width: 50px;
	text-align: center;
}

.wrapper_added {
	text-align: left;
	font-size: 0.8rem;
	color: #666;
}

.wrapper_text {
	padding: 0.5rem;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
}

.wrapper_label {
	font-size: 14px;
}

[type="checkbox"] {
	position: absolute;
	left: -50000px;
}

label[for="text-input"] {
	display: block;
	padding: 0.5rem;
}

button {
	-webkit-appearance: none;
	background: none;
	border: none;
	color: #444;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 0.5rem;
	border-radius: 0.15rem;
}

.done {
	background: #ddd;
}

.done .wrapper_button {
	color: #444;
}

.done .wrapper_text {
	color: #aaa;
	text-decoration: line-through;
}

body {
	margin: 0;
	background: #eee;
	font-family: "Fira Sans Condensed", Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
}

.central-column {
	max-width: 960px;
	margin: 0 auto;
	padding: 1rem;
}

header {
	background: #345;
	color: #eee;
	padding: 0 1.5rem;
}

header h1 {
	margin: 0;
}

main {}

.text-input {
	width: 100%;
	padding: 1rem;
	font-size: 1rem;
	-webkit-appearance: none;
	border: none;
	border-radius: 0.15rem;
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}
.text-input:focus {
	box-shadow: 0 0 1rem rgba(0,0,0,0.5);
	outline: none;
}
.material-icons {
	background: #345;
	padding: 0.25rem;
	border-radius: 0.15rem;
	color: #fff;
	cursor: pointer;
}
.material-icons:hover, .material-icons:focus {
	background: #567;
}
