<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>To-Do List</title>
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0'>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<header id="masthead">
		<div class="central-column">
			<h1>To Do List</h1>
		</div>
	</header>
	<main id="todo" class="central-column">
		<section class="panel">
			<label for="text-input">{{greeting}}, {{user}}! What do you need to do today?</label>
			<table>
				<tr>
					<td class="wrapper_input">
						<input type="text" placeholder="Buy milk" autofocus class="text-input" v-model="newTask" @keyup.enter="addTask">
					</td>
					<td class="wrapper_button">
						<button class="add material-icons" @click="addTask(task)" v-if="newTask.length > 0">add</button>
					</td>
					<td class="wrapper_button">
						<label for="mark-all" v-if="hasTask">
							<input type="checkbox" id="mark-all" v-bind:checked="areAllSelected" @click="selectAll">
							<span v-if="!areAllSelected" class="complete material-icons">done_all</span>
							<span v-else class="complete material-icons">undo</span>
						</label>
					</td>
					<td class="wrapper_button">
						<button class="material-icons remove" @click="clearCompleted" v-if="hasTask">delete_sweep</button>
					</td>
					<td class="wrapper_button">
						<button class="material-icons destroy" @click="clearList" v-if="hasTask">delete_forever</button>
					</td>
				</tr>
			</table>
		</section>

		<section class="filter" v-if="hasTask > 1">
			<table>
				<tr>
					<td class="wrapper_button"><button class="material-icons sort" @click="reverseOrder">swap_vert</button></td>
					<td class="wrapper_label">Swap order</td>
					<td class="wrapper_button"><button class="material-icons sort" @click="sortByDate">sort</button></td>
					<td class="wrapper_label">Most recent</td>
				</tr>
			</table>
		</section>

		<section v-if="hasTask > 0">
			<h2>Your list</h2>
			<p class="message" :class="(remainingTasks === 0) ? 'message-success' : 'message-neutral'">
				{{ remainingTasks }} task<span v-if="remainingTasks !== 1">s</span> remaining
			</p>
			<ul class="list">
				<li v-for="(task, index) in taskList" :class="{done: task.checked, edit: task.edit}">
					<table>
						<tr>
							<td rowspan="3" class="wrapper_priority">{{index + 1}}</td>
							<td class="wrapper_added">{{task.added}}</td>
							<td rowspan="1" class="wrapper_button">

								<button v-if="!task.edit" class="edit material-icons" @click="editTask(task)">mode_edit</button>
								<button v-else class="clear material-icons" @click="editTask(task)">clear</button>

							</td>
							<td rowspan="1" class="wrapper_button">
								<label :for="['complete-' + index]">
									<input type="checkbox" class="checkbox" v-model="task.checked" :id="['complete-' + index]">
									<span v-if="!task.checked" class="complete material-icons">done</span>
									<span v-else class="complete material-icons">undo</span>
								</label>
							</td>
							<td rowspan="1" class="wrapper_button"><button class="remove material-icons" @click="removeTask(task)">delete</button></td>
						</tr>
						<tr>
							<td colspan="4" class="wrapper_text">{{task.text}}</td>
						</tr>
						<tr v-if="task.edit">
							<td class="wrapper_input" colspan="3">
								<input type="text" :placeholder="[task.text]" autofocus class="text-input" v-model="thisTask" @keyup.enter="replaceTask(task)">
							</td>
							<td class="wrapper_button">
								<button class="add material-icons" @click="replaceTask(task)">add</button>
							</td>
						</tr>
					</table>
				</li>
			</ul>
		</section>
		<p v-else :class="['message', 'message-neutral']">
			You do not have any tasks
		</p>
	</main>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.1/vue-resource.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
	<script src="js/app.js" charset="utf-8"></script>
</body>

</html>
